<div class="container">

    <h1 class="title">
        <span> {{page.title}} </span>
    </h1>

    <table class="table">
        <tbody>
            <tr *ngFor="let row of page.content.myData ">
                <td *ngFor="let col of row">{{col}}</td>
            </tr>
        </tbody>
    </table>

    <section class="paragraph">
        <p *ngFor="let paragraph of  page.content.aboutMe ">
            {{paragraph}}
        </p><br>
        <a class="link" routerLink="/contact" >{{page.content.link}}</a>
    </section>

</div>