<header class="navbar">

    <div class="menu-btn" (onclick)="toggleNavbar()">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
    </div>

    <div class="list-items">
      <a routerLink="home" routerLinkActive="selected" class="list-item">
        Home
      </a>
      <a routerLink="about" routerLinkActive="selected" class="list-item">
        About
      </a>
      <a routerLink="skills" routerLinkActive="selected" class="list-item">
        Skills
      </a>
      <a routerLink="work" routerLinkActive="selected" class="list-item">
        Work
      </a>
      <a routerLink="contact" routerLinkActive="selected" class="list-item">
        Contact
      </a>
    </div>
  </header>
  