<div class="container">

    <h1 class="title">
        <span> {{page.title}} </span>
    </h1>

    <div class="accordions">

        <div class="accordion">
            <div class="professional-work">
                <h2 class="sub-title"> {{page.subTitle1}} </h2>

                <ul *ngFor="let experience of page.experienceList">
                    <li *ngIf="experience.workType==='professional'">
                        <i></i>
                        <input type="checkbox" checked>
                        <h3> {{experience.title}} </h3>
                        <p>
                            {{experience.description}}
                        </p>
                        <p>
                            Skills used: {{experience.skillsApplied}}
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <div class="professional-work">
                <h2 class="sub-title"> {{page.subTitle2}} </h2>
                <ul *ngFor="let experience of page.experienceList">
                    <li *ngIf="experience.workType==='personal'">
                        <i></i>
                        <input type="checkbox" checked>
                        <h3> {{experience.title}} </h3>
                        <p *ngFor="let paragraph of experience.description">
                            {{paragraph}}
                        </p>
                        <p>
                            Skills used: {{experience.skillsApplied}}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>