//primary color #0b0e1e

.page-container {
    background: linear-gradient(140deg, rgba(11, 14, 30, 1) 0%, rgba(32, 32, 84, 1) 92%, rgba(51, 28, 130, 1) 100%);
    display: grid;
    grid-template-areas:
    'header'
    'body';
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    a {
        text-decoration: none;
    }
}

.page-content-container {
    padding: 50px;
}