<div class="container">

    <h1 class="title">
        {{page.title}}
    </h1>

    <div class="page-content">
        
        <section class="tags">
            <angular-tag-cloud 
                [config]="options" 
                [data]="data" 
                (clicked)="scrollToTag($event)" 
                [zoomOnHover]="zoomOnHoverOptions"
                >

            </angular-tag-cloud>
        </section>
        
        <section class="education">
            <h2> {{page.subTitle1}} </h2>
            <ul>
                <li *ngFor="let education_item of page.education">
                    <h3><span>{{education_item.institute}}</span><br></h3>
                    <h4><span>{{education_item.title}}</span></h4>
                    <span>Courses: {{education_item.courses}}</span>
                    <p> {{education_item.description}} </p>
                </li>
            </ul>
        </section>

        <section class="skills-list">
            <h2> {{page.subTitle2}} </h2>
            <ul>
                <li *ngFor="let skill of  page.skillList" id="{{skill.name}}">
                    <h3> {{skill.name}} </h3>
                    <h4> {{skill.level}} </h4>
                    <div class="rating">
                        <div class="bar">
                            <div [ngStyle]="{'width': skill.rating+'%'}"></div>
                        </div>
                        <div>{{skill.rating}}%</div>
                    </div>
                </li>
            </ul>
        </section>
    </div>

</div>