<div class="container">

    <h1 class="title">
        Skills
    </h1>


    <div class="page-content">
        <div class="tags">
    
        </div>

        <section class="education">
            <h2>Education</h2>
            <ul>
                <li *ngFor="let education_item of education">
                    <h3><span>{{education_item.institute}}</span><br></h3>
                    <h4><span>{{education_item.title}}</span></h4>
                    <span>Courses: {{education_item.courses}}</span>
                    <p> {{education_item.description}} </p>
                </li>
            </ul>
        </section>

        <section class="skills-list">
            <h2>Skills</h2>
            <ul>
                <li *ngFor="let skill of  skills">
                    <span>{{skill.name}}, {{skill.level}}</span>
                </li>
            </ul>
        </section>
    </div>




</div>