.container {
    gap: 2rem;
    color: white;
    display: grid;
    grid-template-areas:
        'title'
        'tags'
        'education'
        'skills-list';
    margin-top: 3rem;
    background: linear-gradient(140deg, rgba(11, 14, 30, 1) 0%, rgba(32, 32, 84, 1) 92%, rgba(51, 28, 130, 1) 100%);

    h1 {
        grid-column: 1/3;
        padding: 1rem 0;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        letter-spacing: 1px;
        outline: 3px solid white;
        text-transform: uppercase;
    }

    .page-content {
        width: 80%;
        margin: auto;
    }
}